@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4 class="under-navbar">Add a Machine below</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description) 
  @Html.TextBoxFor(model => model.Description)

  @Html.LabelFor(model => model.Value)
  @Html.TextBoxFor(model => model.Value)


  @Html.Label("Assign Engineer")
  @Html.DropDownList("EngineerId")

  <input type="submit" value="Add Machine" class="btn btn-light" />
}
