<div class="navbar">
  <ul>
    <li><p>@Html.ActionLink("Return Home", "Index", "Home")</p></li>
    <li>placeholder</li>
    <li>placeholder2</li>
    <li>placeholder4</li>
  </ul>
  @* <p>@Html.ActionLink("See All Stylists", "Index", "Stylists")</p>
  <p>@Html.ActionLink("Add a Stylist", "Create", "Stylists")</p>
  <p>@Html.ActionLink("See All Clients", "Index", "Clients")</p>
  <p>@Html.ActionLink("Add a Client", "CreateClient", "Clients")</p> *@
  
  
</div>