@{
  Layout = "_Layout"; 
}

@model Factory.Models.Engineer


<h4 class="under-navbar">@Model.EngineerName's Details</h4>

<p>@Html.DisplayNameFor(model => model.EngineerId): @Html.DisplayFor(model => model.EngineerId)</p>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This Engineer has not been assigned to any Machines yet.</p>
}
else
{
  <h4>Machines this Engineer is licensed for:</h4>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Machine.MachineName</li>
    }
      @* @using (Html.BeginForm("DeleteEngineer", "Engineers"))
      {
        @Html.Hidden("joinId", @join.EngineerMachineId)
        <input type ="submit" value="remove engineer"/>
      }<br>*@
  </ul>
}

<p>@Html.ActionLink($"Edit Engineer", "Edit", new {id=Model.EngineerId})</p>
  

 
